<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar" class="animate-fade-in-up stagger-1">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" class="animate-fade-in-up stagger-2">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pay" class="animate-fade-in-up stagger-3">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dna" class="animate-fade-in-up stagger-4">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>DNA</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
